@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-color: #AA91E4; /* Définir une variable de couleur */
}

.violet{
  color:var(--custom-color);
}
.blanc{
  color:var(--background);
}

.my-bg{
  background:var(--custom-color);
}

.text-custom{
  color: var(--custom-color);
}
.newsreader-title {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
